/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {

    .brand_wraper {
        right: 2%;
    }

    .hero_banner-item {
        padding: 232px 0 280px;
    }

}




@media (min-width: 1200px) and (max-width: 1300px) {

    .hero_banner-item {
        padding: 232px 0 280px;
    }

    .legal-approach_image {
        width: 472px;
    }

}







/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 46px;
    }

    h3 {
        font-size: 40px;
    }

    h4 {
        font-size: 34px;
    }

    .hero_banner-item {
        padding: 200px 0 232px;
    }

    .hero_banner-item__inner {
        grid-template-columns: 62% 25%;
    }

    .hero_banner-left__parsent {
        font-size: 40px;
    }

    .brand_wraper {
        right: 2%;
    }

    .success_record-area {
        padding: 90px 0;
    }

    .success_record-card h4 {
        width: 100%;
        font-size: 30px;
    }

    .resources-text_area {
        padding: 90px 0 0px 0;
    }

    .resources-text {
        font-size: 18px;
    }

    .resources_page .hero_banner-other{
        padding: 180px 0;
    }
    
    .lower_wraper {
        gap: 20px;
    }

    .lower_image {
        height: 422px;
    }

    .legal-approach_image {
        width: 462px;
    }

    .hero_banner-other .hero_banner-right h1 {
        font-size: 50px !important;
    }

    .about_page .hero_banner-other {
        padding: 150px 0 100px 0 !important;
    }

    .team_area {
        padding: 90px 0;
    }

    .team_member-wraper {
        grid-template-columns: repeat(3,1fr);
        gap: 44px 20px;
        margin: 80px 0;
    }

    .team_member {
        grid-template-columns: 1fr;
    }

    .feature_area {
        padding: 0;
    }

    .feature_parsent {
        font-size: 60px;
    }

    .testiomonial_area {
        padding: 90px 0;
    }

    .testiomonial_image {
        width: 100%;
        height: 534px;
    }

    .testiomonial_content h3 {
        font-size: 24px;
    }
    
}


/* LG Device :992px. */
@media (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    .primary_btn {
        font-size: 16px;
        padding: 8px 22px;
    }

    .secondry_btn {
        font-size: 16px;
        padding: 8px 22px;
    }

    .space-80 {
        height: 60px;
    }

    .hero_banner-item {
        height: 80vh;
        padding: 200px 0 171px;
    }
    
    .hero_banner-item__inner {
        grid-template-columns: 62% 25%;
    }

    .hero_banner-left__parsent {
        font-size: 40px;
        margin-bottom: 95px;
    }

    .hero_banner-right p {
        font-size: 16px;
    }

    .brand_wraper {
        right: 0;
        bottom: 10%;
        gap: 26px;
    }

    .hero_banner-wraper .owl-prev {
        bottom: 10%;
    }
    
    .hero_banner-wraper .owl-next {
        bottom: 10%;
    }

    .single_brand {
        width: 124px;
    }

    .single_brand-1 {
        width: 80px;
    }

    .single_brand-2 {
        width: 80px;
    }

    .success_record-area {
        padding: 90px 0;
    }

    .success_record-card-3 .success-low {
        height: 310px;
    }

    .success_record-card-4 {
        margin-top: 0;
    }

    .success_record-card h4 {
        width: 100%;
        font-size: 22px;
    }

    .section_title p {
        width: 55%;
    }

    .solution_card {
        min-height: 140px;
        padding: 24px 0;
    }
    
    .resources_page .hero_banner-other{
        padding: 140px 0;
    }

    .resources-text_area {
        padding: 90px 0;
    }

    .resources-text {
        font-size: 18px;
    }

    .lower_wraper {
        gap: 20px;
    }

    .lower_image {
        height: 360px;
    }

    .lower_area {
        padding: 40px 0 80px 0;
    }

    .legal-approach_image {
        width: 100%;
    }

    .value_banner {
        height: 100px;
    }

    .value_card {
        width: 60%;
        min-height: 189px;
        padding: 30px;
    }

    .value_banner.active {
        height: 307px;
    }

    .blog_card-image {
        height: 200px;
    }

    .blog_card-content {
        padding-left: 20px;
    }

    .contact_area {
        padding: 70px 0;
    }

    .contact_area-content p {
        font-size: 18px;
    }

    .contact_info-list li a {
        font-size: 18px;
    }

    .newslater_area {
        padding-left: 100px;
    }

    .single_filed label {
        font-size: 16px;
    }

    .single_filed input, .single_filed textarea {
        height: 42px;
    }

    .hero_banner-other .hero_banner-right h1 {
        font-size: 40px !important;
    }

    .about_page .hero_banner-other {
        padding: 150px 0 100px 0 !important;
    }

    .team_area {
        padding: 70px 0;
    }

    .team_member-wraper {
        grid-template-columns: repeat(2,1fr);
        margin: 60px 0;
    }

    .team_member {
        grid-template-columns: 1fr;
    }

    .team_member-image {
        width: 100%;
    }

    .team_member-info h3 {
        font-size: 22px;
    }

    .team_member-info span {
        font-size: 15px;
    }

    .team_member-info .description p {
        font-size: 16px;
    }

    .team_area-bottom__content p {
        font-size: 18px;
    }

    .feature_area {
        padding: 0;
    }

    .feature_card {
        height: 260px;
        padding: 15px;
    }

    .feature_card-1{
        height: 520px;
    }

    .feature_card-2{
        height: 222px;
    }

    .feature_card-5{
        height: 222px;
    }

    .feature_parsent {
        font-size: 50px;
    }

    .testiomonial_area {
        padding: 90px 0;
    }

    .testiomonial_image {
        width: 100%;
        height: 420px;
    }

    .testiomonial_content {
        padding-right: 0;
    }

    .testiomonial_content h3 {
        font-size: 18px;
    }
    
    .solution_page .solution_card-wraper {
        gap: 0px 100px;
    }

    .faq_area {
        padding: 90px 0;
    }

    .faq_wraper {
        width: 80%;
        padding: 80px 0;
        margin: auto;
    }
  
}





/* SM Small Device :320px. */
@media only screen and (max-width: 767px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    p{
        font-size: 14px;
    }

    .primary_btn {
        font-size: 14px;
        padding: 8px 22px;
    }

    .secondry_btn {
        font-size: 14px;
        padding: 8px 22px;
    }

    .see-more_btn {
        font-size: 16px;
    }

    .space-80 {
        height: 60px;
    }

    .nav {
        padding: 15px 0;
    }

    .menu_sidebar {
        width: 280px;
    }

    .menu_sidebar .logo {
        width: 75px;
        height: 75px;
    }

    .hero_banner-item {
        height: 80vh;
        padding: 152px 0 146px;
    }

    .hero_banner-wraper .owl-prev {
        position: absolute;
        left: 45%;
        transform: translateX(-50%);
        bottom: 5%;
        font-size: 20px !important;
    }
    
    .hero_banner-wraper .owl-next {
        position: absolute;
        left: 55%;
        transform: translateX(-50%);
        font-size: 20px !important;
    }

    .hero_banner-right h1, .hero_banner-right p{
        text-align: center;
    }

    .hero_banner-item__inner {
        grid-template-columns: 100%;
        gap: 30px 0;
    }

    .hero_banner-left{
        display: none;
    }

    .hero_banner-left__parsent {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .hero_banner-right p {
        font-size: 14px;
    }

    .hero_btn-wraper {
        justify-content: center;
    }

    .brand_wraper {
        right: 5%;
    }

    .single_brand {
        width: 80px;
    }

    .single_brand-1 {
        width: 60px;
    }

    .single_brand-2 {
        width: 60px;
    }

    .success_record-area {
        padding: 70px 0;
    }

    .success_record-card__wraper {
        grid-template-columns: 1fr;
    }

    .success_record-card {
        padding: 25px 28px;
    }

    .success_record-card-1{
        background-color: transparent;
    }

    .success_record-card-2{
        background-color: var(--secondary-color);
    }

    .success_record-card-3{
        padding: 0;
    }

    .success_record-card-3 .success-low {
        height: 250px;
    }

    .success_record-card-4 {
        margin-top: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .success_record-card h4 {
        width: 100%;
        font-size: 17px;
    }

    .solution_area {
        padding: 60px 0;
    }

    .section_title {
        margin-left: 0;
    }

    .section_title p {
        width: 55%;
    }

    .solution_card {
        min-height: 120px;
        padding: 24px 0;
    }
    
    .resources_page .hero_banner-other{
        padding: 90px 0;
    }

    .resources-text_area {
        padding: 60px 0;
    }

    .resources-text {
        font-size: 14px;
        text-align: center;
    }

    .lower_area {
        padding: 0 0 80px 0;
    }

    .lower_area .section_title {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        padding: 42px 30px 62px 0px;
    }

    .lower_wraper {
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }

    .single_lower {
        max-width: 400px;
        margin: auto;
    }

    .lower_image {
        height: 360px;
    }
    
    .legal-approach_top{
        text-align: center;
    }

    .legal-approach_top h2, .legal-approach_top p{
        text-align: center;
    }

    .legal-approach_content__list {
        margin-left: 0;
    }

    .legal-approach_content__single {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .legal-approach_image {
        width: 100%;
        height: 250px;
    }

    .value_banner {
        height: 90px;
    }

    .value_banner.active {
        height: 307px;
    }

    .value_banner.active  .value_card {
        width: 60%;
        min-height: 189px;
        display: flex;
        padding: 30px;
        left: 20px;
    }

    .value_card .description p {
        width: 100%;
        font-size: 14px;
    }

    .value_card .value_symbol {
        width: 45px;
        height: 45px;
    }

    .blog_card-wraper {
        grid-template-columns: repeat(1,1fr);
        margin-top: 60px;
        gap: 40px 0;
    }
    
    .blog_card{
        max-width: 400px;
        margin: auto;
    }

    .blog_card-2{
        margin-top: 0;
    }

    .blog_card-image {
        height: 250px;
    }

    .blog_card-content {
        padding-left: 20px;
    }

    .contact_area {
        padding: 60px 0;
    }

    .contact_area-content p {
        font-size: 18px;
    }

    .contact_form {
        margin-top: 60px;
    }

    .contact_info-list li a {
        font-size: 18px;
    }

    .newslater_area {
        padding-left: 0;
    }

    .single_filed label {
        font-size: 16px;
    }

    .single_filed input, .single_filed textarea {
        height: 42px;
    }

    .single_filed input[type="submit"]{

        font-size: 14px;
    }

    .footer_area {
        padding: 60px 0;
    }

    .copyright_area {
        padding-top: 22px;
    }

    .copyright_area .description p {
        text-align: center;
    }

    .copyright_links ul {
        justify-content: center;
        gap: 20px;
    }

    .copyright_links ul li a {
        font-size: 13px;
    }

    .hero_banner-right {
        text-align: center;
    }
    
    .hero_banner-other .hero_banner-right h1 {
        font-size: 30px !important;
    }

    .about_page .hero_banner-other {
        padding: 150px 0 60px 0 !important;
    }

    .team_area {
        padding: 70px 0;
    }

    .team_area-title {
        text-align: center;
    }

    .team_area-title h2, .team_area-title p{
        text-align: center;
    }

    .team_member-wraper {
        grid-template-columns: repeat(1,1fr);
        margin: 60px 0;
    }

    .team_member {
        grid-template-columns: 1fr;
        max-width: 400px;
        margin: auto;
    }

    .team_member-image {
        width: 100%;
        height: 350px;
    }

    .team_member-info {
        padding-left: 20px;
        text-align: center;
    }

    .team_member-info h3 {
        font-size: 22px;
        text-align: center;
    }

    .team_member-info span {
        font-size: 15px;
    }

    .team_member-info .description p {
        font-size: 16px;
        text-align: center;
    }

    .team_area-bottom__content p {
        font-size: 18px;
    }

    .social_links {
        justify-content: center;
    }

    .team_area-bottom__content{
        text-align: center;
    }

    .team_area-bottom__content h3{
        text-align: center;
    }
    
    .team_area-bottom__content p {
        text-align: center;
        font-size: 16px;
    }

    .feature_area {
        padding: 0;
    }

    .feature_card-wraper {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        margin-top: 60px;
    }

    .feature_card {
        height: 250px;
        padding: 16px;
    }

    .feature_card-1 {
        height: 250px;
    }

    .feature_parsent {
        font-size: 30px;
    }

    .testiomonial_area {
        padding: 70px 0;
    }

    .testiomonial_image {
        max-width: 400px;
        width: 100%;
        height: 387px;
        margin: auto;
        margin-bottom: 30px;
    }

    .client_reviews {
        justify-content: center;
    }

    .testiomonial_content {
        padding-right: 0;
    }

    .testiomonial_content h3 {
        font-size: 18px;
        text-align: center;
    }

    .testiomonial_content h6, .testiomonial_content span {
        text-align: center;
    }

    .solution_page .hero_banner-other {
        padding: 110px 0 !important;
    }

    .solution_page .solution_card-wraper {
        grid-template-columns: repeat(1,1fr);
        gap: 0px 30px;
    }

    .blog_page .hero_banner-other {
        padding: 130px 0 90px 0;
    }

    .blog_page .blog_card-wraper {
        gap: 48px 30px;
    }

    .contact_page .hero_banner-other {
        padding: 110px 0 90px 0;
    }

    .location_area {
        padding: 0;
    }

    .location_area-left {
        position: relative;
        padding-left: 0;
    }

    .location_area-left::after {
        display: none;
    }

    .location_area-left .description {
        padding: 0;
        margin-top: 20px;
        width: 100%;
    }

    .single_location h4 {
        font-size: 24px;
    }

    .single_location .see-more_btn {
        font-size: 15px;
    }

    .location_map iframe {
        width: 100%;
        height: 232px;
        margin: 40px 0 60px 0;
    }

    .faq_page .hero_banner-other {
        padding: 110px 0 90px 0;
    }

    .faq_area {
        padding: 70px 0;
    }

    .faq_wraper {
        width: 100%;
        padding: 60px 0;
        margin: auto;
    }

    .faq_item h5{
        font-size: 16px;
    }

    .faq_item .description p{
        font-size: 14px;
    }

    .value_card {
        min-height: 252px;
        display: none;
    }

    .brand_wraper {
        right: 5%;
        display: none;
    }

}



/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .brand_wraper {
        right: 5%;
        bottom: 22%;
        display: flex;
        grid-template-columns: repeat(5,1fr);
        gap: 30px;
    }

    .blog_card-wraper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        margin-top: 80px;
    }

    .newslater_area {
        padding-left: 100px;
    }

    .solution_page .solution_card-wraper {
        grid-template-columns: repeat(2,1fr);
    }

    .lower_wraper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .legal-approach_image {
        width: 100%;
        height: 450px;
    }

    .success_record-card__wraper {
        grid-template-columns: 1fr 1fr;
    }

    .success_record-card-1{
        background-color: var(--secondary-color);
    }

    .success_record-card-2{
        background-color: transparent;
    }

    .success_record-card-3{
        padding: 0;
    }

    .success_record-card-3 .success-low {
        height: 300px;
    }

    .success_record-card-4 {
        margin-top: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .team_member-wraper {
        margin-top: 60px;
    }

    .team_member-image {
        width: 100%;
        height: 450px;
    }

    .testiomonial_image {
        width: 400px;
        height: 450px;
        margin: auto;
        margin-bottom: 30px;
    }

    .testiomonial_content {
        width: 70%;
        margin: auto;
    }

    .feature_card-wraper {
        grid-template-columns: repeat(2,1fr);
    }
    
    .faq_item h5{
        font-size: 18px;
    }
    
}